framework: net45
source http://nuget.org/api/v2

// Debug.fs uses GetCustomAttributesData(), which returns null in Mono.
// Refer to https://github.com/fsharp/FSharp.Data/issues/678. Until
// version 2.2.0 is released, just use an older version.
nuget FSharp.Data 2.0.14
nuget MongoDB.Bson 2.0.0-beta2

// for building the project
nuget FAKE
nuget SourceLink.Fake

// for executing tests
nuget NUnit
nuget NUnit.Runners

// for generating documentation
nuget FSharp.Formatting

// for updating the GitHub repository
github fsharp/FAKE modules/Octokit/Octokit.fsx
