Bson,WorldBank.bson,false,WorldBank,
Bson,TwitterStream.bson,true,,
Bson,TwitterSample.bson,true,,
Bson,OptionValues.bson,false,,
Bson,SimpleArray.bson,false,,
Bson,DoubleNested.bson,false,,
Bson,Nested.bson,false,,
Bson,Simple.bson,false,,
Bson,WikiData.bson,false,,
Bson,Empty.bson,false,,
Bson,projects.bson,false,,
Bson,Dates.bson,false,,
Bson,GitHub.bson,false,,
Bson,topics.bson,true,Topic,
Bson,Vindinium.bson,false,,
Bson,contacts.bson,false,,
Bson,optionals.bson,false,,
Bson,reddit.bson,false,,
Bson,TypeInference.bson,false,,
